.pre-container {
    width: 100%;
    padding: 20px;
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .inner {
    background: linear-gradient(to bottom right, #4c3426 23%, #1b1d1c 63%);
}

.row-style{
  background-color: rgb(29,29,31);
  color: rgb(224,224,224);
}

.row-style:hover{
  color: rgb(119,122,131);
}

.ant-table-thead .ant-table-cell {
  background-color: rgb(29,29,31) !important;
  color: rgb(224,224,224) !important;
}

.ant-modal-close-x{
  color: white !important;
}

.ant-modal-content{
  padding: 0 !important;
}

.replyIcon{
  visibility: hidden;
}